.app-wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

section {
  width: 100%;
  padding: 2vw;
}

.heading-color {
  color: cadetblue;
}

.user-portfolio {
  display: flex;
  flex-direction: column;
  max-height: 70%;
}

.user-portfolio .heading-color {
  flex: 0 0 auto;
}

.user-portfolio .portfolio-wrapper {
  flex: 1 1 auto;
}

.add-to-portfolio {
  max-height: 20%;
  display: flex;
  flex-wrap: wrap;
}

.add-to-portfolio .heading-color {
  flex: 0 0 100%;
}